<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Create a new question</h4>
  </div>
  <div class="panel-body"> <%= render 'form' %></div>
</div>

<%= link_to 'Back', questions_path %>
