// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backgrond-color: #000;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

#overlay_inner {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  background-color: white;
  padding-top: 20px;
}

#overlay_inner > div >div {
width: 60%;
  margin: 0 20% 10px 20%;
}



.one_category {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.one_category > div {
  width: 50%;
  padding-top: 7px;
  font-weight: bold;
}

.float_left {
  float: left;
}



