<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Editing Category</h4>
  </div>
  <div class="panel-body"> <%= render 'form' %></div>


</div>

<%= link_to 'Back', :back , :class => "fa fa-arrow-circle-o-left btn btn-default"  %>